* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	
}
body{
	background-image: url(../img/fundo.png);
	background-repeat: no-repeat;
	background-size: cover;

}

header .row{
	align-items: center;
}
.topo{
	padding-top: 30px;
}
.topo img{
	width: 150px;
	margin-left: 20px;
}
.topo nav{
	display: inline-block;
	list-style: none;
}
.topo nav ul{
	list-style: none;
}
.topo nav ul li{
	margin: 15px;
	font-size: 20px;
}
.topo nav ul li a{
	color: white;
}
main{
	padding-top: 15%;
	color: white;
}
form{
	background-color: rgb(253, 193, 27);
	box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.274);
	border-radius: 5px;
	padding: 30px;
}
form .form-input{
	width: 100%;
	margin-bottom: 15px;
	height: 40px;
	border: none;
	font-weight: bold;
	padding-left: 15px;
	border-radius: 5px;
}
input[type=radio] {
	margin: 0 10px ;
	width: 20px;
	height: 20px;
	border: 30px black solid;
}
form .formulariobotao{
	width: 100%;
	margin-top: 15px;
	margin-bottom: 15px;
	height: 40px;
	border: none;
	border-radius: 30px;
	font-weight: bold;
	color: rgb(94, 94, 94);
}
.escolha{
	display: flex;
	align-items: center;
}
label{
	margin-bottom: 2px;
}

.coleção{
	padding:10px 20px;
	margin-bottom: 15px;
	background-color: rgba(255, 255, 255, 0.26);
	backdrop-filter: blur( 2px ); 
	box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.112);
	width: 80%;
	border: 1px solid rgba(255, 255, 255, 0.326);
	border-radius: 5px;
	backdrop-filter: blur( 1.5px ); 
}
.coleção:hover{
	font-size: 1.2em;
	width: 85%;
	box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.336);
	backdrop-filter: blur( 2px ); 
}
footer{
	width: 100%;
	margin-top: 10%;
	background-color:rgb(253, 193, 27);
	color: white;
	font-size: 18px;
}
footer .container{
	padding: 30px ;
}
footer img{
	width: 110px;
}
footer ul{
	list-style: none;
}
.redessociais{
	font-size: 35px;
	display: flex;
}
.redessociais li{
	margin: 0 15px ;
}
@media only screen and (max-width:768px){
	.topo img{
		width: 120px;
    margin-left: -23px;
	}
	.topo nav{
		display: block;
    list-style: none;
    position: absolute;
    right: 76px;
		top: 60px;
	}
	.topo nav ul li{
		font-size: 16px;
		margin: 10px;
	}
	.row{
		display: block;
	}
	.coleção{
		width: 537px;
    position: inherit;
    left: -15px;
	}
	.coleção:hover{
		font-size: 1.2em;
		width: 537px;
	}
	footer{
		font-size: 16px;
	}
	footer img{
		display: none;
	}
	
}